*{
    margin: 0;
    padding: 0;
}
/* nav */
.grey{
    color: white;
    background-color: olive;
    text-align: center;
    height: 40px;
    align-items: center;
}
.left{
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.link{
    display: flex;
    flex-direction: row;

}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 80px;
    align-items: center;
}
li{
    margin: 15px;
    list-style: none;
}
input{
    background-color: black;
    color: white;
    width: 180px;
    height: 50px;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon{
    margin-left: 40px;
    margin-right: 150px;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-right: 40px;
    margin-top: 10px;
  }
  li:hover{
    color: grey;
    border-bottom: 1px solid white;
    scale: 1.1;
  }
  /*  */
  /* main page */
  .mainpage{
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
  }
  .img2{
    width: 100%;
    height: 100%;
  }
  .head1{
    position: absolute;
    top: 42%;
    right: 5%;
    color: white;
    font-size: 38px;
  }
  .head2{
    position: absolute;
    top: 50%;
    right: 9%;
    color: white;
    font-size: 24px;
  }
  .head3{
    position: absolute;
    top: 56%;
    right: 5%;
    color: white;
    font-size: 17px;
  }
  .him{
    width: 100px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
  }
  .her{
    width: 100px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
  }
 .kid{
    width: 100px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
  }
  .m,.r,.d{
    margin-top: 7px;
  }
  .switch{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 62%;
    right: 5%;
    
  }
  /*  */
  /* round */
.cool{
   text-align: center;
   margin-top: 50px;
}
.flat{
  text-align: center;
  font-size: 20px;
}
.parent{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 300px;
  margin-right: 300px;
}
.card{
  width: 120px;
  height: 120px;
  background-color: lightcoral;
  border-radius: 100%;
}
.content{
  text-align: center;
  margin-top: 45PX; 
  color: yellow; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*  */
/* grid */
.grid{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1,100%);
  background-color: red;
  color: orange;
}
.pic1{
  width: 100%;
  position: relative;
}
.cnt1{
  position: absolute;
  top: 160%;
  left: 5%;
  color: white;
  font-size: 40px;
}
.cnt2{
  position: absolute;
  top: 170%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.cnt3{
  position: absolute;
  top: 178%;
  left: 5%;
  color: white;
  font-size: 15px;
}
.btn1{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 185%;
  left: 5%;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  margin-top:px;
}
.shop{
  margin-top: 10px;
}
.cntt1{
  position: absolute;
  top: 240%;
  left: 5%;
  color: white;
  font-size: 40px;
}
.cntt2{
  position: absolute;
  top: 250%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.btn2{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 260%;
  left: 5%;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  margin-top:px;
}
.cnttt1{
  position: absolute;
  top: 320%;
  right: 5%;
  color: white;
  font-size: 40px;
}
.cnttt2{
  position: absolute;
  top: 330%;
  right: 5%;
  color: white;
  font-size: 25px;
}
.btn3{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 340%;
  right: 5%;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  margin-top:px;
}
.cntttt1{
  position: absolute;
  top: 400%;
  left: 5%;
  color: white;
  font-size: 40px;
}
.cntttt2{
  position: absolute;
  top: 410%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.btn4{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 420%;
  left: 5%;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  margin-top:px;
}
.cnttttt1{
  position: absolute;
  top: 475%;
  left: 5%;
  color: white;
  font-size: 40px;
}
.cnttttt2{
  position: absolute;
  top: 483%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.btn5{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 490%;
  left: 5%;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  margin-top:px;
}
.cntttttt1{
  position: absolute;
  top: 555%;
  left: 5%;
  color: white;
  font-size: 40px;
}
.cntttttt2{
  position: absolute;
  top: 563%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.btn6{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 570%;
  left: 5%;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  margin-top:px;
}

.cnttttttt1{
  position: absolute;
  top: 630%;
  left: 5%;
  color: white;
  font-size: 40px;
  width: 30%;
}
.cnttttttt2{
  position: absolute;
  top: 648%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.btn7{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 657%;
  left: 5%;
  text-align: center;
  letter-spacing: 2px;
  color: black;
  margin-top:px;
}
/*  */
/* video */
.video1{
  width: 100%;
  height: 600px;
  border: none;
  margin-top: 40px;
  object-fit: fill;
}
/*  */
.head11{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
/* card */
.g{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.yv{
  width: 300px;
  height: 300px;
}
.yu{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*  */
/* z index */
.lightblue{
  margin-top: 90px;
  width: 100%;
  height: 500px;
  background-color: rgb(198, 198, 243);
  padding: 20px;
}
.nit{
  font-size: 38px;
  text-decoration-thickness: 8px;
}
.way{
  font-size: 27px;
}
.btf{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 70%;
  margin-top: 20px;
}
.bt1{
  width: 120px;
  height: 40px;
  background-color: white;
  text-align: center;
}
.bt2{
  width: 260px;
  height: 40px;
  background-color: white;
  text-align: center;
}
.b1{
  margin-top: 10px;
}
.zimg{
  width: 600px;
  height: 600px;
  position: absolute;
  top: 850%;
  right: 10%;
}
.pic2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.video2{
  width: 700px;
  height: 350px;
  border: none;
  margin-top: 40px;
  object-fit: fill;
  position: absolute;
  top: 876%;
  left: 8%;
}
 /*  */
 /* images */
 .blue{
  margin-top: 100px;

 }
 .ct1{
  position: absolute;
  top: 960%;
  left: 5%;
  color: white;
  font-size: 40px;
}
.ct2{
  position: absolute;
  top: 970%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.ct3{
  position: absolute;
  top: 975%;
  left: 5%;
  color: white;
  font-size: 15px;
}
.btnn1{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 985%;
  left: 5%;
  text-align: center;
}
.ct3{
  position: absolute;
  top: 1040%;
  left: 5%;
  color: white;
  font-size: 40px;
}
.ct4{
  position: absolute;
  top: 1050%;
  left: 5%;
  color: white;
  font-size: 25px;
}
.btnn2{
  width: 150px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 1060%;
  left: 5%;
  text-align: center;
}
/*  */
/* card2 */
.box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: scroll;
}
.pic7{
  width: 300px;
  height: 300px;
}
.section{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 20px;
}
.puma{
  text-align: center;
  font-size: 20px;
}
.cost{
  text-align: center;
  margin-bottom: 20px;
}
.black{
  margin-top: 150px;
  width: 100%;
  height: 400px;
  background-color: black;
}
.detials{
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
}
.hi,.hai,.hello,.team{
  color: white;
}
.con2{
  margin-top: 30px;
}
.team1{
  margin-top: 40px;
  color: yellow;
}
.line{
  border-top: 1px solid white;
}
.three{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}