*{
    margin: 0;
    padding: 0;
}
/* nav1 */
.nav{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
select{
    background-color: black;
    color: white;
    border: none;
    margin-top: 8px;
    margin-left: 28px;
}
ul{
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-right: 10px;
}
li{
    color: white;
    margin-left: 50px;
    list-style: none;
    font-size: small;
    margin-top: 2px;
}
h6{
    color: white;
}
.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;

}
.deliver{
    color: white;
    margin-left: 25px;
    font-size: small;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-top: 3px;
}
/*  */
/* nav2 */
.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    height: 100px;
}
.start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 


  
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo{
    width: 250px;
    height: 100px;
   
     
}
.pic2{
    width: 100%;
    height: 100%;

   
   
}
.pic3{
    margin: 20px;
    margin-right: 40px;
}

.search{
    margin-top: 40px;
    margin-right: 100px;
    
}
.new{
    color: black;
    font-size: 15px;
    margin-left: 50px;
    /* background-color: red; */
}
.red{
    color: red;
}
input{
    border: none;
    border-bottom: 1px solid ;
}
.jerike{
    margin-top: 40px;
    margin-left: 10px;
}
.link{
    /* transition: 2s; */
    margin-left: 20px;

  
}
li:hover{
    scale: 1.2;
    /* color: yellow; */
    font-size: medium;
    border-bottom: 1px solid red;
}
/*  */
/* card */
.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.card{
    border: none;
}
.cardname{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    text-align: center;
    color: rgb(10, 10, 63);
}
/*  */
/* qr */
.content{
    background-color: rgb(243, 202, 140);
    width: 100%;
    height: 250px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-cofont-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ntent: space-between;
}
.picture{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.qr{
    width: 60%;
    height: 60%;
    margin: 50px;
    margin-right: 100px;
}
.qrcode{
    width: 100%;
    height: 100%;
}
.logopic{
    margin-right: 220px;
}
h1{
    text-align: center;
    margin-top: 20px;
}
p{
    text-align: center;
    width: 70%;
    margin: 30px;
    margin-left: 100px;
}
.code{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*  */
/* divider */
.divide{
    width: 100%;
    margin-top: 30px;
}
/*  */
/* head1 */
.head{
    text-align: center;
    margin-top: 40px;
}
/*  */
/* overflow */
.father{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: scroll;
}
.son{
    transition: .5s;
}
.outfit{
    margin: 20px;
}
.son:hover{
    scale: 1.2;
}
/*  */
/* zindex */
.white{
    position: relative;
    width: 90%;
    height: 70%;
     /* background-color: aqua;  */
    margin-left: 80px;
    margin-top: 50px;
}
.index2{
    position: absolute;
    top: 20%;
    left: 70%;
    width: 35%;
    /* background-color: red;  */
    height: 80%;
}
.indpic2{
    width: 50%;
    height: 80%;
}
.wheat{
    width: 800px;
    height: 250px;
    background-color: wheat;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
}
.box1{
    background-color: white;
    width: 250px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.owner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}
/*  */
/* sub page */
.sub{
    background-color: rgb(33, 34, 77);
    width: 100%;
    height: 900px;
    margin-top: 80px;
    cursor: pointer;
}
h2{
    color: yellow;
    text-align: center;
    padding: 20px;


}
.tag{
    margin-left: 660px;
    margin-top: 30px;
 
}
.roll{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: scroll;
}
.ass{
    margin: 10px;
}
.h3{
    margin: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h5{
    margin: 10px;
    color: white;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 30%;
}
.no{
    margin: 10px;
    color: white;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
/*  */
/* grid */
.grid{
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin-left: 100px;
    margin-top: 50px;
    /* background-color: yellow; */
}
.mom1{
    width: 100%;
    height: 750px;
}
.baby1{
    width: 100%;
    height: 400px;
    background-color: red;

}
.img1{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.deer{
    width: 120px;
    height: 48px;
    margin-left: 350px;
    color: white;
}
.arrival{
    margin-left: 340px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.shop{
    margin-left: 370px;
    color: rgb(0, 255, 106);

}
.vava2{
    background-color: rgb(74, 74, 139);
    height: 130px;
   
}
.mom2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: scroll;
}
.title1{
    margin-left: 40px;
    color: black;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 30%;

}
.title2{
    margin-left: 40px;
    margin-top: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.price{
    margin-left: 40px;
    margin-top: 10px;
    color: black;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 30px;

}
/*  */
/* imgdivide */
.imgdiv{
    width: 100%;
    height: 450px;
    margin-top: 30px;
    position: relative;
}
.divpic1{
    width: 100%;
    height: 100%;
}
.yellow{
    width: 500px;
    height: 300px;
    background-color: yellow;
    position: absolute;
    top: 10%;
    right: 10%;
    border-radius: 15px;
}
.aljo{
    width: 150px;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
}
.sarath{
    color: black;
    margin-left: 20px;
    font-size: 30px;
}
.jeevan{
    color: black;
    margin-left: 20px;
    font-size: 30px;
}
.evin{
    margin-left: 20px;
    margin-top: 10px;
}
button{
    color: white;
    background-color: blue;
    border: none;
    width: 250px;
    height: 50px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 20px;
}
/*  */
/* blue */
.navyblue{
    width: 100%;
    height: 80px;
    background-color: blue;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.but{
    
    background-color: yellow;
    color: black;
}
.halfyel{
    color: yellow;
}
/*  */
/* yellow2 */
.yellow2{
    background-color: yellow;
    width: 100%;
    height: 160px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.inp{
    border: 1px solid ;
}
.logooo{
    width: 150px;
    height: 150px;
    margin-left: 250px;
    /* background-color: aqua; */
}
.refer{
    color: white;
}
.loc{
    font-size: 30px;
    /* background-color: red; */
    margin-left: 30px;
}
.store{
    font-size: 30px;
    /* background-color: blue; */
}
.inputbox{
    /* background-color: orange; */
    margin-left: -240px;
}
.inp{
    height: 40px;
    border-radius: 5px;
}
.linkk{
    margin-left: -240px;
}
.write{
    margin-left: -260px;
}
/*  */
/* bluebtn */
.bluebtn{
    color: white;
   
    margin: 40px;
    margin-left: 750px;
    width: 450px;
    height: 80px;
    border-radius: 10px;
}
/*  */
/* ICONS */
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
/*  */
/* line */
.line{
    border-top:1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px;
}
.hl{
    width: 100px;
    height: ;
}
.community{
    margin-left: 300px;
}
.about{
    margin-left: 150px;
}
.need{
    margin-left: 100px;
}
.a16{
    margin-top: 15px;

}
/*  */
/* bla */
.bla{
    padding: 35px;
}
.b1{
    margin-top: 15px;
}
.last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.l{
    margin-left: 20px;
}